.wrapper{
    width: 70%;
    margin: 100px auto;
    box-shadow: 0px 6px 12px grey;
    padding: 50px 20px;
    text-align: center;
}

.inputs{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.input-field{
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 4px cadetblue;
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin: auto;
    outline: none !important;
}

.w-100{
    width: 100%;
}

#inputFrom{
    width: 30%;
    font-size: 20px;
}

button{
    padding: 8px 12px;
    border-radius: 6px;
    background-color: cadetblue;
    color: white;
    margin: auto 12px;
    border: none;
    font-weight: 500;
    font-size: 16px;
}

button:hover{
    box-shadow: 0px 2px 4px cadetblue;
}

#result-box{
    color: blue;
    font-size: 24px;
    font-weight: 600;
}
#para1{
  text-align: right;
  color:#b43c9a
}
#result-box{
  padding: 20px 0px ;
  align-content: center;
}